.labels{
	width: 100%;
}

.dateLabels{
	width: 80%;
}

.buttons{
	display:flex;
	gap: 10px;
}

.titleWraper{
	position: relative;
}
.backButton{
	position: absolute;
	left: 0px;
	margin-top: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
}